@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 23, ../sass/_variables.scss */
#grid {
  background: url("../images/grid.png");
  background: url("../images/grid.svg"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-repeat: repeat;
}

/* line 1, ../sass/_layout.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  background: url("../images/background_portrait.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
@media only screen and (min-width: 1024px) and (orientation: portrait), only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min--moz-device-pixel-ratio: 2) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (orientation: portrait), only screen and (min-device-pixel-ratio: 2) and (orientation: portrait), only screen and (min-resolution: 192dpi) and (orientation: portrait), only screen and (min-resolution: 2dppx) and (orientation: portrait) {
  /* line 1, ../sass/_layout.scss */
  html, body {
    background: url("../images/background_portrait_big.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media only screen and (orientation: landscape) {
  /* line 1, ../sass/_layout.scss */
  html, body {
    background: url("../images/background_landscape.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}
@media only screen and (min-width: 1600px) and (orientation: landscape), only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 800px) and (orientation: portrait), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 800px) and (orientation: portrait), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 800px) and (orientation: portrait), only screen and (min-device-pixel-ratio: 2) and (min-width: 800px) and (orientation: portrait), only screen and (min-resolution: 192dpi) and (min-width: 800px) and (orientation: portrait), only screen and (min-resolution: 2dppx) and (min-width: 800px) and (orientation: portrait) {
  /* line 1, ../sass/_layout.scss */
  html, body {
    background: url("../images/background_landscape_big.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }
}

/* line 43, ../sass/_layout.scss */
#grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.15;
}

/* line 53, ../sass/_layout.scss */
#caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 9px;
  padding: 0 3% 10px;
}
/* line 64, ../sass/_layout.scss */
#caption span {
  white-space: nowrap;
}
/* line 68, ../sass/_layout.scss */
#caption #mail a {
  color: #fff;
}
@media only screen and (min-width: 500px) {
  /* line 53, ../sass/_layout.scss */
  #caption {
    font-size: 14px;
    padding: 0 5% 10px;
  }
}

/* line 78, ../sass/_layout.scss */
#logo {
  width: 100%;
  height: 100%;
  background: url("../images/logo_portrait.png");
  background: url("../images/logo_portrait.svg"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% auto;
}
@media only screen and (orientation: landscape) {
  /* line 78, ../sass/_layout.scss */
  #logo {
    background: url("../images/logo_landscape.png");
    background: url("../images/logo_landscape.svg"), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80% auto;
  }
}
